@media (prefers-reduced-motion) {
	.button-animation,
	button {
		transform: none !important;
	}
}

.button-base {
	@extend .button-animation;
	font-weight: 500;
	outline: 2px solid transparent;

	&:focus-visible:not(&:disabled),
	&:hover:not(&:disabled) {
		cursor: pointer;
		filter: brightness(0.85);
	}

	&:active:not(&:disabled) {
		filter: brightness(0.8);
	}

	&:disabled,
	&[disabled='true'] {
		cursor: not-allowed;
		filter: grayscale(50%);
		opacity: 0.5;
		box-shadow: none;
	}
}

.button-transparent {
	@extend .button-base;
	background-color: transparent;
	border-radius: var(--size-rounded-sm);

	&:focus-visible:not(&:disabled),
	&:hover:not(&:disabled),
	&:active:not(&:disabled) {
		background-color: var(--color-bg-light);
	}

	&.brand-button {
		color: var(--color-brand);
	}

	&.danger-button {
		color: var(--color-special-red);
	}
}

.card {
	position: relative;
	min-height: var(--font-size-2xl);
	padding: var(--spacing-card-md) var(--spacing-card-lg);

	background: var(--color-bg-light);
	border-radius: var(--size-rounded-card);
	outline: 2px solid transparent;

	margin-bottom: var(--spacing-card-md);

	box-shadow: var(--shadow-card);

	.card__overlay {
		position: absolute;
		top: 1rem;
		right: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		grid-gap: 0.5rem;
		z-index: 2;
	}
}
