.doc {
	max-width: 800px;
	margin: 0 auto;

	a {
		color: var(--color-text-link);
		text-decoration: underline;

		&:hover {
			text-shadow: 0 0 10px var(--color-text-link);
		}
	}
}

.hidden {
	display: none;
}
